body {
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 25%,
    rgb(250, 178, 172) 50%,
    rgb(190, 228, 210) 75%,
    rgb(215, 248, 247) 93.8%
  );
  font-family: "Times New Roman", Times, serif, sans-serif;
  color: white;
}

h1 {
  color: white;
  font-size: 40px;
  font-weight: 100;
  line-height: 28px;
  margin: 5px 5px 5px 0px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: white;
  font-size: 25px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
  margin: 2px;
  padding: 2px;
}
li::first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  background-color: #698474;
  opacity: 0.75;
  border: 3px solid whitesmoke;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 50%;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.temperature {
  color: white;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.search-form {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  margin: 5px;
  padding: 5px;
}

#tempDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#weatherIcon {
  display: flex;
  justify-content: right;
}
